.hidden {
  display: none;
}
.canvas{
  width: 800px;
  height: 600px;
}
.container {
  width: 100%;
}
.onethird {
  color: #555;
  float: left;
  width: 30%;
  padding: 10px;
  min-height: 400px;
}
.code{
  background-color: bisque;
}